@model Application.data.models.Farm

<table class=" table table-responsive">
    <tr><th>Name</th></tr>
    <tr><th>Type</th></tr>
    <tr><th>Picture</th></tr>

</table>
<table>
    <tr>
        <td>@Model.NameOfFarm</td>
        <td>@Model.Location</td>
        <td><img src="@Model.PictureOfFarm" height="400" width="400" /></td>
    </tr>
</table>